/* components/NativeTable.css */
.native-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--surface-color);
  color: var(--text-color);
  border: 1px solid white;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.native-table th,
.native-table td {
  padding: 12px 16px;
  border: 1px solid var(--border-color);
  text-align: left;
}

.native-table thead {
  background-color: var(--input-background);
  color: var(--text-color);
  font-weight: bold;
}

.native-table tbody tr:hover {
  background-color: var(--hover-background-color);
}

@media (max-width: 768px) {
  .native-table th,
  .native-table td {
    padding: 8px;
  }
}
